
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    font-family: "Dancing Script", cursive;
    color: white;
    text-align: center;
    background-color: rgb(235, 235, 235);

    a{
        color: white;
        text-decoration: none;
    }

    .main-page-container{
        width: 100vw;
        height: 100vh;
        background-image: url("../img/main-page-bg.png");
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main__header-name{
            font-size: 7.5rem;
            margin: 5vh;
        }

        .main__text{
            margin: 35vh 0 5vh 0;
            width: 60vw;
            height: 20vh;
            .text{
                font-size: 1.8rem;
            }
        }

        .main__button{
            margin: 4vh;
            width: 17vw;
            height: 6vh;
            border: 2px solid rgba(226, 226, 226, 0.250);
            background-color: rgba(255, 255, 255, 0);
            color: white;
            font-family: "Dancing Script";
            font-size: 1.4rem;
            line-height: 2.8rem;
            text-decoration: none;
            cursor: pointer;
            transition: 300ms;
        }

        .main__button:hover{
            transition: 300ms;
            background-color: rgba(0, 0, 0, 0.185);
            border: 2px solid rgba(226, 226, 226, 0.500);
        }
    }

    .menu-page-container{
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("../img/menu-page-bg.png");
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;



        .menu__container{
                width: 100%;
                height: 75%;
                max-height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

            .menu__header{
                font-size: 78pt;
                margin: 0 5%;
            }

            .menu{
                margin: 0 5%;
                width: 90%;
                max-width: 90%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.65);
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                
                .menu__item{
                    margin: 1%;
                    max-width: 30%;
                    text-align: left;
                    cursor: pointer;
                    
                    .menu__item__name{
                        font-size: 23pt;
                        text-decoration: underline 1px ;
                    }

                    .menu__item__counter{
                        font-size: 32pt;
                        margin-left: 30%;
                        font-style: italic;
                    }

                    .menu__item__description{
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: 12pt;
                        font-weight: lighter;
                    }
                }

            }
        }
    }

    .admin__login-form-container{
        width: 100vw;
        height: 100vh;
        background-color: rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .admin-login__form{
            max-width: 500px;
            margin: 10px auto;
            padding: 20px;
            background: #aebbcc;
            border-radius: 8px;

            fieldset{
                border: none;
            }

            legend {
                font-size: 1.4em;
                margin-bottom: 10px;
                color: black;
            }

            label {
                display: block;
                margin-bottom: 8px;
            }

            input[type="text"],
            input[type="email"]{
                background: rgba(255,255,255,.1);
                border: none;
                border-radius: 4px;
                font-size: 15px;
                margin: 0;
                outline: 0;
                padding: 10px;
                width: 100%;
                box-sizing: border-box; 
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box; 
                background-color: #fafafa;
                color:#8a97a0;
                -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                margin-bottom: 30px;
                transition: 300ms;
            }

            input[type="text"]:focus,
            input[type="email"]:focus{
                transition: 300ms;
                background: #d8ddec;
            }

            input[type="submit"]{
                position: relative;
                display: block;
                padding: 10px 39px 9px 39px;
                color: rgba(0, 0, 0, 0.808);
                margin: 0 auto;
                background: #fafafa00;
                font-size: 18px;
                text-align: center;
                font-style: normal;
                width: 50%;
                margin-bottom: 10px;
                border: 2px solid rgba(0, 0, 0, 0.158);
                border-radius: 5px;
                transition: 300ms;
                cursor: pointer;
            }

            input[type="submit"]:hover{
                border: 2px solid rgba(0, 0, 0, 0.5);
                background: #fafafa98;
                transition: 300ms;
            }
        }

    }

    .pannel-container{
        color: black;
        font-family: "Montserrat";

        .pannel__header{
            background: linear-gradient(45deg, #b7bbd3, #3f85ad);
            padding: 0.8vw 0;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.349);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .header__nav{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                margin: 0 3vh;
                width: 33%;

                .nav__item{
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    margin: 1vh;
                    color: black;
                    text-decoration: none;
                    font-size: 0.8vw;
                    cursor: pointer;
                    transition: 300ms;
                }

                .nav__item:hover{
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    background-color: rgba(255, 255, 255, 0.2);
                    transition: 300ms;
                }
            }

            .header__logout{
                margin: 0 3vh;
                width: 33%;
                text-decoration: underline 1px;
                cursor: pointer;
                transition: 300ms;
            }

            .header__logout:hover{
                transition: 300ms;
                color: rgb(255, 255, 255);
                text-shadow: 3px 3px 10px white ;
            }

            .header__pannel-name{
                width: 33%;
                font-size: 2.1vw;
                cursor: pointer;

                a{
                    color: black;
                    text-decoration: none;
                    transition: 300ms;
                }
            }
            .header__pannel-name a:hover{
                transition: 300ms;
                color: rgb(255, 255, 255);
                text-shadow: 3px 3px 10px white ;
            }
        }

        table {
            font-size: 0.9rem;
            border-collapse: collapse;
            width: 100%;

            th, td {
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {background-color: #f2f2f2;}
          }   
    }

    .dish-page{

        .wrapper {
            position: absolute;
            display: flex;
            z-index: 10;
            width: 50%;
            height: 100vh;
            transition: all .5s;
            margin: 0 0 0 -550px;
        }
        
        .wrapper.is-nav-open {
            margin-left: 0px;
        }
        
        .nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 550px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);

            .close {
                position: absolute;
                right: 32px;
                top: 32px;
                width: 32px;
                height: 32px;
                opacity: 0.5;
                transition: all .2s;
                cursor: pointer;
                }
                .close:hover {
                opacity: 1;
                }
                .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: rgb(247, 225, 225);
                }
                .close:before {
                transform: rotate(45deg);
                }
                .close:after {
                transform: rotate(-45deg);
                }
        }

        .dish-page-container{
            z-index: 1;
            color: black;
            width: 100vw;
            height: 100vh;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .dish-container{
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px 50px;

                    .img-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-end;
                        width: 85vw;
                        img{
                            object-fit: cover;
                            height: 90vh;
                            width: 40vw;
                            border: 5px solid white;
                        }

                        .short-description{
                            color: white;
                            height: 90vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;

                            span.name{
                                font-size: 64pt;
                            }

                            span.description{
                                max-width: 500px;
                                font-size: 14pt;
                            }


                            .button{
                                color: rgb(209, 63, 63);
                                font-size: 16pt;
                                padding: 5px 20px;
                                width: 140px;
                                text-decoration:none;
                                text-align:center;
                                display: block;
                                background-image: linear-gradient(to left,transparent,transparent 50%,#ac0e0e3a 50%,#ac0e0e3a);
                                background-position: 100% 0;
                                background-size: 200% 100%;
                                transition: all .25s ease-in;
                                border: 2px solid rgb(209, 63, 63);
                                cursor: pointer;
                            }
                            .button:hover{
                                background-position: 0 0;
                                color:#fff;
                                box-shadow: 0px 0px 30px rgb(139, 0, 0);
                            }
                        }

                        
                    }
                    
            }
        }
    }
}