
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

hr{
    margin: -7% 0 0 0;
}

html{
    margin: 0;
}

body{
    margin: 0;
    font-family: "Dancing Script", cursive;
    color: white;
    text-align: center;
    background-image: url("../img/admin-bg.jpg");
    background-repeat: no-repeat;

    a{
        color: white;
        text-decoration: none;
    }

    .main-page-container{
        width: 100vw;
        height: 100vh;
        background-image: url("../img/main-page-bg.png");
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main__header-name{
            font-size: 7.5rem;
            margin: 5vh;
        }

        .main__text{
            margin: 35vh 0 5vh 0;
            width: 60vw;
            height: 20vh;
            .text{
                font-size: 1.8rem;
            }
        }

        .main__button{
            margin: 4vh;
            width: 17vw;
            height: 6vh;
            border: 2px solid rgba(226, 226, 226, 0.250);
            background-color: rgba(255, 255, 255, 0);
            color: white;
            font-family: "Dancing Script";
            font-size: 1.4rem;
            line-height: 2.8rem;
            text-decoration: none;
            cursor: pointer;
            transition: 300ms;
        }

        .main__button:hover{
            transition: 300ms;
            background-color: rgba(0, 0, 0, 0.185);
            border: 2px solid rgba(226, 226, 226, 0.500);
        }
    }

    .menu-page-container{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        background-image: url("../img/menu-page-bg.png");
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;


        .menu__container{
                width: 100%;
                max-height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

            .menu__header{
                font-size: 60pt;
            }

            .nav-container{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .search{
                    padding: 10px 0 15px 0;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 10px black;
    
                    .bar-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: wrap;
                        position: relative;
                        .search-icon{
                            position: relative;
                            display: inline-block;
    
                            input {
                                color: white;
                                font-size: 12px;
                                background: transparent;
                                font-family: "Montserrat";
                                width: 10px;
                                height: 10px;
                                padding: 8px;
                                border: solid 3px white;
                                outline: none;
                                border-radius: 35px;
                                transition: all 0.5s;
                            }
        
                            input::placeholder {
                                color: #efefef;
                                opacity: 0;
                            }
        
                            input:focus,
                            input:valid {
                                width: 250px;
                            }
                            input:focus::placeholder{
                                opacity: 1
                            }
                        }
                        
                        .category{
                            font-family: "Montserrat";
                            font-size: 12pt;
                            width: 150px;
                            color: white;
                            border: none;
                            background-color: transparent;
                            transition: all .2s;
                            cursor: pointer;
                        }

                        .category:hover{
                            text-shadow: 0px 0px 10px white ;
                        }

                        .category:focus{
                            color: rgb(255, 255, 255);
                        }
                    }
    
                      div.search-icon:after {
                        content: "";
                        background: white;
                        width: 4px;
                        height: 15px;
                        position: absolute;
                        top: 25px;
                        right: -1px;
                        border: none;
                        transform: rotate(135deg);
                      }
                }
    
                .reset-button{
                    font-family: "Montserrat";
                    font-size: 10pt;
                    margin: 10px 70px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    padding: 5px 15px;
                    color: white;
                    background-color: transparent;
                    transition: all .2s;
                    cursor: pointer;
                }

                .reset-button:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                }

            }

            .menu{
                box-shadow: 0 0 10px black;
                background-color: rgba(0, 0, 0, 0.5);
                width: 80%;
                max-width: 80%;
                max-height: 560px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                overflow-y: scroll;
                scrollbar-width: none;

                .menu__item{
                    background-color: rgba(0, 0, 0, 0.65);
                    margin: 20px;
                    padding: 35px;
                    width: 240px;
                    max-height: 200px;
                    border-radius: 1px;
                    border: 4px solid white;
                    transition: all .3s;
                    text-align: left;
                    overflow: hidden;
                    cursor: pointer;

                    .memu__item__head-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .menu__item__name{
                            font-size: 22pt;
                        }
    
                        .menu__item__counter{
                            font-size: 22pt;
                            font-style: italic;
                            color: rgba(255, 255, 255, 0.2);
                        }
                    }

                    hr{
                        border: 1px solid white;
                        width: 100%;
                        margin: 0 0 10px 0;
                    }

                    .menu__item__description{
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: 12pt;
                        font-weight: lighter;
                    }
                }
                .menu__item:hover{
                    transform: scale(1.1);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
                }
            }
        }
    }

    .admin__login-form-container{
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .admin-login__form{
            font-family: "Montserrat";
            max-width: 500px;
            margin: 10px auto;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 32px black;

            fieldset{
                border: none;
            }

            legend {
                font-size: 1.4em;
                color: black;
                margin-bottom: 30px;
                text-decoration: underline;
            }


            label {
                display: block;
                margin-bottom: 8px;
            }

            input[type="text"],
            input[type="email"]{
                background: rgba(255,255,255,.1);
                border: none;
                border-radius: 4px;
                font-size: 15px;
                margin: 0;
                outline: 0;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                background-color: #fafafa;
                color: black;
                -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                margin-bottom: 30px;
                transition: all .3s;
            }

            input[type="text"]:focus,
            input[type="email"]:focus{
                background: #d4d4d4;
            }

            input[type="submit"]{
                position: relative;
                display: block;
                padding: 10px 39px 9px 39px;
                color: rgba(0, 0, 0, 0.808);
                margin: 0 auto;
                background: #fafafa00;
                font-size: 18px;
                text-align: center;
                font-style: normal;
                width: 50%;
                margin-bottom: 10px;
                border: 1px solid white;
                transition: 300ms;
                cursor: pointer;
            }

            input[type="submit"]:hover{
                border: 1px solid black;
                background: #fafafa60;
                box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
            }
        }

    }

    .pannel-container{
        font-family: "Montserrat";
        color: white;
        
        .pannel__header{
            background: rgba(0, 0, 0, 0.7);
            padding: 1vw 0;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.349);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .header__logo{
                font-family: "Dancing Script", cursive;
                font-size: 22pt;
                width: 33%;
                transition: all .3s;
                cursor: pointer;
            }

            .header__logo:hover{
                color: rgb(255, 255, 255);
                text-shadow: 3px 3px 10px white ;
            }

            .header__pannel-name{
                width: 33%;
                font-size: 2.1vw;
                cursor: pointer;

                a{
                    color: white;
                    text-decoration: none;
                    transition: 300ms;
                }
            }
            .header__pannel-name a:hover{
                transition: 300ms;
                color: rgb(255, 255, 255);
                text-shadow: 3px 3px 10px white ;
            }

            .header__admin-actions{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 33%;
                .miniature{
                    width: 50px;
                    height: 50px;
                    line-height: 48px;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 50%;
                    text-align: center;
                    font-size: 16pt;
                    cursor: pointer;
                    transition: all 300ms;
                }

                .miniature:hover{
                    box-shadow: inset 0px 0px 5px black;
                    background: rgb(214, 214, 214);
                }

                .miniature:hover .actions{
                    visibility: visible;
                    opacity: 1;
                      transition: .3s linear;
                    }

                .actions {
                    visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: space-between;
                    z-index: 1;
                    opacity: 0;
                    width: 180px;
                    padding: 0px 20px;
                    background: rgb(66, 66, 66);
                    position: absolute;
                    right: 9.44vw;
                    border-radius: 2px;
                    font: 16px;
                    cursor: default;
                    transform: translateY(9px);
                    transition: all 0.3s ease-in-out;
                    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

                    .info, .action{
                        color: white;
                        font-size: 10pt;
                    }

                    .action{
                        padding: 0;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        margin: 10px 0;
                        cursor: pointer;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        transition: all .3s
                    }

                    .action:hover{
                        border-radius: 5px;
                        background-color: rgba(255, 255, 255, 0.5);
                    }

                    
                  }
            }
        }
        .table-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            table {
                font-size: 0.9rem;
                border-collapse: collapse;
                width: 100%;
                // border: 5px solid rgba(117, 117, 117, 0.5);
                color: rgb(0, 0, 0);
                margin: 0 0 20px 0;
                th, td {
                    text-align: center;
                    padding: 10px;
                    width: 33%;
                    .action-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .edit, .delete{
                            margin: 0 10px;
                            cursor: pointer;
                        }
        
                        .edit, .delete svg{
                            color: black;
                            transition: all .2s;
                        }
        
                        .edit:hover, .delete:hover > svg{
                            color: rgb(187, 187, 187);
                        }
                    }
                }
    
                    tr:nth-child(even) {
                        background-color: rgba(0, 0, 0, 0.2);
                    }

                    tbody{
                        tr:hover{
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }

                
        }
        

        .add-dish{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 30px 0 10px 0;

            .add-dish__link{
                color: black;
                padding: 5px 20px;
                border: 1px solid rgb(68, 68, 68);
                background-color: rgba(255, 255, 255, 0);
                cursor: pointer;
                transition: all .2s;
            }

            .add-dish__link:hover{
                background-color: rgba(255, 255, 255, 0.6);
                box-shadow: 0 0 32px white;
            }
                    
        }

        
        
        .pagination{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: black;
            span{
                margin: 0 20px;
            }
            button{
                background-color: transparent;
                border: none;
                transition: all .2s;
                cursor: pointer;
            }
            select{
                border: 1px solid rgba(0, 0, 0, 0.25);
                background-color: rgba(255, 255, 255, 0);
                font-family: "Montserrat";
                font-size: 10pt;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .modal{
            z-index: 9999;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 40px 80px;
            border-radius: 2px;
            transform: translate(-50%, -50%);
            transition: all .4s;
            background: rgba(0, 0, 0, 0.9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            form{
                font-family: "Montserrat";
                
                fieldset{
                    padding-top: 20px;
                }
    
                legend {
                    font-size: 12pt;
                }
    
    
                label {
                    display: block;
                    margin-bottom: 8px;
                }
    
                input[type="text"],
                input[type="email"],
                input[type="password"]{
                    background: rgba(255,255,255,.1);
                    border: none;
                    border-radius: 4px;
                    font-size: 15px;
                    margin: 0;
                    outline: 0;
                    padding: 10px;
                    width: 100%;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    background-color: #fafafa;
                    color: black;
                    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                    margin-bottom: 15px;
                    transition: all .3s;
                }
    
                input[type="text"]:focus,
                input[type="email"],
                input[type="password"]:focus{
                    background: #d4d4d4;
                }
            }
            .button{
                margin: 10px;
                padding: 5px 50px;
                border: 1px solid rgba(226, 226, 226, 0.250);
                background-color: rgba(255, 255, 255, 0);
                color: white;
                font-family: "Montserrat";
                font-size: 12pt;
                text-decoration: none;
                cursor: pointer;
                transition: 300ms;
            }
    
            .button:hover{
                transition: 300ms;
                background-color: rgba(255, 255, 255, 0.185);
                border: 1px solid rgb(255, 255, 255);
            }
        }
        .bg{
            z-index: 9998;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.5);
        }
    }

    .edit-form{
        color: black;
        width: 100%;
        margin-top: 30px;
        font-family: "Montserrat";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

                .form-header{
                    font-size: 18pt;
                }

                #form{
                    width: 65%;
                    fieldset{
                        border: none;
                        padding: 20px 50px 20px 50px ;
                        background-color: rgba(0, 0, 0, 0.2);
                        box-shadow: 0 0 32px black;
                        margin: 20px;
                    }
        
                    legend {
                        font-size: 12pt;
                    }

                    select{
                        margin-bottom: 10px;
                        padding: 3px 0;
                        width: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.25);
                        background-color: rgba(255, 255, 255, 0.5);
                        font-family: "Montserrat";
                        font-size: 12pt;
                        text-decoration: none;
                        cursor: pointer;

                        option{
                            font-family: "Montserrat";
                            font-size: 10pt;
                            cursor: pointer;
                        }
                    }

                    input[type="submit"]{
                        margin: 10px 0 20px 0;
                        padding: 5px 50px;
                        border: 1px solid black;
                        background-color: rgba(255, 255, 255, 0);
                        font-family: "Montserrat";
                        font-size: 12pt;
                        text-decoration: none;
                        cursor: pointer;
                        transition: all .3s;
                    }
            
                    input[type="submit"]:hover{
                        background-color: rgba(255, 255, 255, 0.6);
                        border: 1px solid white;
                        box-shadow: 0 0 32px white;
                    }

                    .input-container{
                        text-align: left;
                        margin: 10px;

                        label {
                            display: block;
                            margin-bottom: 8px;
                        }
            
                        textarea{
                            background: rgba(255,255,255,.1);
                            border: none;
                            border-radius: 4px;
                            font-size: 15px;
                            margin: 0;
                            outline: 0;
                            width: 100%;
                            height: 30px;
                            padding: 6px 10px;
                            box-sizing: border-box;
                            background-color: #fafafa7e;
                            color: black;
                            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                            margin-bottom: 15px;
                            transition: all .3s;
                        }
            
                        textarea:focus{
                            background: #fafafadc;
                        }
                    }

                    .dish-img{
                        width: 20%;
                    }

                    .image-input{
                        .form-group{
                            padding:1em;
                            margin: 0 1em;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            .label{

                                padding: 5px 30px;
                                width:100px;
                                border: 2px solid rgb(0, 0, 0);
                                border-radius:5px;
                                display:block;
                                transition: all .3s;
                                cursor:pointer;
                                text-align:center;

                                i{
                                    display:block;
                                    font-size:42px;
                                    padding-bottom:16px;
                                }

                                input[type=file]{
                                    outline:0;
                                    display: none;
                                    pointer-events:none;
                                    user-select:none;
                                }
                            }

                            .label-loaded{
                                border: 2px solid rgb(78, 218, 131);
                                background-color: rgb(215, 255, 189);
                            }

                            .label:hover{
                                background-color: rgba(255, 255, 255, 0.6);
                                border: 2px solid white;
                                box-shadow: 0 0 32px white;
                            }
                        }
                    }
                }
    }

    .dish-page{
        height: 100%;
        .wrapper {
            position: absolute;
            display: flex;
            visibility: hidden;
            z-index: 99;
            width: 50%;
            height: 100vh;
            transition: all .5s;
            margin: 0 0 0 -550px;
        }

        .recipe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 100;
            width: 550px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);

            .recipe__body{
                width: 80%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: left;

                .body__name{
                    font-size: 42pt;
                }

                .engreediants{
                    text-align: left;

                    ul{
                        list-style-type: none;
                        padding-left: 0;

                        li{
                            padding: 3px 10px;
                        }

                        .engreediant{
                            margin: 10px;
                        }
                    }
                }

                .method{
                    text-align: left;

                    .method__text{
                        padding: 6px 10px;
                    }
                }
            }

            .close {
                position: absolute;
                right: 32px;
                top: 32px;
                width: 32px;
                height: 32px;
                opacity: 0.5;
                transition: all .2s;
                cursor: pointer;
                }
                .close:hover {
                opacity: 1;
                }
                .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: rgb(247, 225, 225);
                }
                .close:before {
                transform: rotate(45deg);
                }
                .close:after {
                transform: rotate(-45deg);
                }
        }

        .dish-page-container{
            z-index: 1;
            color: black;
            width: 100%;
            height: 100vh;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .menu-link{
                font-family: "Montserrat";
                font-weight: lighter;
                font-size: 14pt;
                color: rgba(255, 255, 255, 0.6);
                transition: all .3s;
                margin: 0 5px 25px;
                cursor: pointer;
            }

            .menu-link:hover{
                color: rgba(255, 255, 255, 1);
            }

            .dish-container{
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px 50px;

                    .img-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-end;
                        width: 85vw;
                        img{
                            object-fit: cover;
                            height: 80vh;
                            width: 40vw;
                            border: 5px solid white;
                            cursor: pointer;
                            transition: all .3s;
                        }
                        img:hover{
                            transform: scale(0.95);
                        }

                        .short-description{
                            color: white;
                            height: 80vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;

                            span.name{
                                font-size: 64pt;
                            }

                            span.description{
                                max-width: 500px;
                                font-size: 14pt;
                            }


                            .button{
                                color: rgb(209, 63, 63);
                                font-size: 16pt;
                                padding: 5px 20px;
                                width: 140px;
                                text-decoration:none;
                                text-align:center;
                                display: block;
                                background-image: linear-gradient(to left,transparent,transparent 50%,#ac0e0e3a 50%,#ac0e0e3a);
                                background-position: 100% 0;
                                background-size: 200% 100%;
                                transition: all .25s ease-in;
                                border: 2px solid rgb(209, 63, 63);
                                cursor: pointer;
                            }
                            .button:hover{
                                background-position: 0 0;
                                color:#fff;
                                box-shadow: 0px 0px 30px rgb(139, 0, 0);
                            }
                        }


                    }

            }
        }
    }

    .slider{
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        overflow: hidden;

        .slide{
            min-width: 100%;
            height: 100%;
            transition: all .5s;
        }

        %btn-styles{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3%;
            height: 100%;
            z-index: 0;
            background: none;
            transition: all .5s;
            border: none;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        #goLeft{
            @extend %btn-styles;
            left: 0;
        }

        #goRight{
            @extend %btn-styles;
            right: 0;
        }
    }
}