%flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
  @extend %flex-column;
}

.showing {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.main-page-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 0;
  background-image: url("../img/main-page-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-position: center center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.main-page-container * {
    margin: 10px 0;
  }

  .main__header {
    width: 100%;
    display: flex;
    flex-direction: row;

    .main__header-name {
      width: 33.3%;
      font-size: calc((100vw - 10px) / (1280 - 480) * (24 - 4) + 40px);
    }
    .main__header__auth {
      width: 33.3%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .header__admin-actions {
        @extend %flex-row;
        width: 50%;
        .miniature {
          width: 50px;
          height: 50px;
          //background: rgba(207, 207, 207, 0.6);
          border: 1px solid white;
          border-radius: 50%;
          text-align: center;
          line-height: 48px;
          font-size: 14pt;
          cursor: pointer;
          transition: all 300ms;
        }

        .miniature:hover {
          box-shadow: 0px 0px 10px white;
          //background: #ebebebd0;
        }

        .miniature:hover .actions {
          visibility: visible;
          opacity: 1;
          transition: 0.3s linear;
        }

        .actions {
          line-height: initial;
          visibility: hidden;
          @extend %flex-column;
          align-items: space-between;
          z-index: 1;
          opacity: 0;
          width: 220px;
          padding: 20px;
          background: rgba(0, 0, 0, 0.8);
          position: absolute;
          top: 80px;
          right: 16.8%;
          border-radius: 2px;
          font: 16px;
          cursor: default;
          transform: translateY(9px);
          transition: all 0.3s ease-in-out;
          box-shadow: 0 0 32px rgb(0, 0, 0);

          .info,
          .action {
            color: white;
            font-size: 10pt;
          }

          .auth-button {
            line-height: 48px;
            padding: 3px;
            width: 50%;
            height: 20px;
            line-height: 20px;
            margin: 10px 0;
            font-size: 13pt;
            cursor: pointer;
            //border: 1px solid rgba(255, 255, 255, 0.5);
            transition: all 0.3s;

            &:first-child {
              margin-bottom: 30px;
            }
          }

          .action:hover {
            border-color: white;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .empty {
      width: 33.3%;
    }
    .empty__half {
      width: 50%;
    }
  }

  .main__text {
    @media screen and (max-width: 1300px) {
      width: 200px;
      font-size: 1em;
    }
    font-size: 14pt;
    margin: 20px 0 20px 0px;
    width: 50%;
    text-align: center;
    .text {
      font-family: "Poiret One";
      max-height: 200px;
      font-size: 1.1em;
    }
  }

  .main__page__footer {
    @media screen and (max-width: 1115px) {
      display: none;
    }
    font-family: "Montserrat";
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .socials {
      margin: 0;
      svg {
        font-size: 18pt;
        margin: 4px;
        transition: all 0.3s;
        cursor: pointer;
      }

      svg:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}
